@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-background-rgb: 226, 229, 248;
  --primary-color-rgb: 122, 72, 213;
  --secondary-color-rgb: 252, 247, 253;
  --accent-color-rgb: 192, 72, 213;
  --text-color-rgb: 8, 13, 37;
  --next-logo-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base-background-rgb: 9, 11, 17;
    --primary-color-rgb: 122, 72, 213;
    --secondary-color-rgb: 20, 23, 36;
    --accent-color-rgb: 192, 72, 213;
    --text-color-rgb: 252, 252, 253;
    --next-logo-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--text-color-rgb));
  background: rgba(var(--base-background-rgb, 1));
}

g {
  fill: rgba(var(--next-logo-rgb, 1));
}
.ltr-mix-bg {
  background: linear-gradient(
    120deg,
    rgba(var(--primary-color-rgb), 1),
    rgba(var(--accent-color-rgb), 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: rgba(131, 131, 131, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--accent-color-rgb), 0.5);
  border-radius: 4px;
}
::selection {
  background-color: rgba(var(--accent-color-rgb), 1);
}

//consider for module css contact page
.min-t {
  width: min(20rem, 100%);
}
